################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MauiApp1.WinUI/obj
/MauiApp1/obj
